---
layout: default
---
<ul class="posts-list">
  서브 카테고리 <br>
  {% assign sub_categories = "" | split: "" %}
{% for post in site.categories[page.categories[0]] %}
  {% for category in post.categories %}
    {% if category != page.categories[0] %}
      {% assign sub_categories = sub_categories | push: category %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign sub_categories = sub_categories | uniq %}


{% for category in sub_categories %}
  <li>
    <a href="/category/sub_category/{{category}}.html">{{ category }}</a>
  </li>
{% endfor %}
      
    <br>
    카테고리 글
    {% assign category = page.category | default: page.title %}
    {% for post in site.categories[category] %}
        <li>
        {%- assign date_format = "%Y-%m-%d" -%}
        [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
    {% endfor %}
    
  </ul>