---
layout: default
---
<ul class="posts-list">
서브 카테고리 <br>
{% assign sub_categories = "" | split: "" %}
{% assign main_category = page.categories[0] %}

{% for post in site.categories[main_category] %}
  {% for category in post.categories %}
    {% if category != main_category %}
      {% unless sub_categories contains category %}
        {% assign sub_categories = sub_categories | push: category %}
      {% endunless %}
    {% endif %}
  {% endfor %}
{% endfor %}


{% for category in sub_categories %}
  <li>
    <a href="/category/{{page.categories[0]}}/sub_category/{{category}}.html">{{ category }}</a>
  </li>
{% endfor %}
      
    <br>
    카테고리 글
    {% assign category = page.category | default: page.title %}
    {% for post in site.categories[category] %}
        <li>
        {%- assign date_format = "%Y-%m-%d" -%}
        [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
    {% endfor %}
    
  </ul>